

<li class="list-inline-item">
    <span class="badge badge-@Value.Color mr-3" style="font-size: 1.5em">@Value.Name @Value.Icon</span>
</li>

@code {
    [Parameter]
    public Card Value{ get; set; }
}
