

<li class="list-inline-item">
    <span class="p-card rank-@Value.Name @Value.Icon">
        <span class="rank">@Value.Name</span>
        <span class="suit"></span>
    </span>
</li>
    @code {
        [Parameter]
        public Card Value { get; set; }
    }
