@page "/"
@implements IDisposable
@using BlazorGame.Components

@if (_gameState == null)
{
    <h3>Start a new game</h3>
    <JoinGame OnJoinedGame="OnJoinGame"></JoinGame>
}
else
{
    <h1>Game Code: @_gameState.PinCode</h1>
    <button type="button" class="btn btn-warning mb-2" @onclick="OnLeaveGame">Leave Game</button>

    if (_gameState.Hands.Any())
    {
        <h3>Players</h3>
        <table class="table table-sm">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-sm-4">Player</th>
                    <th scope="col" class="col-sm-8">Hand</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var hand in _gameState.Hands)
                {
                    <tr class="row">
                        <td class="col-sm-4">

                            @if (hand.UserId == _gameState.CurrentPlayerId)
                            {
                                <strong>@hand.Name</strong> <small class="font-italic">(playing)</small>
                            }
                            else
                            {
                                @hand.Name
                            }
                        </td>
                        <td class="col-sm-8">
                            <ul class="list-inline" id="hand_@hand.UserId">
                                @foreach (var card in hand.Cards)
                                {
                                    <PlayingCard Value="@card"></PlayingCard>
                                }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        if (!_gameState.HasDealtCards)
        {
            <button type="button" @onclick="OnDealCards" class="mt-5 btn btn-info">Deal</button>
        }
    }
}
