@page "/"

@if (currentSession == null)
{
    <h3>Start a new game</h3>
    <JoinGame OnJoinedGame="OnJoinGame"></JoinGame>
}
else
{
    <h1>Game Code: @currentSession.PinCode</h1>
    <button type="button" class="btn btn-warning mb-2" @onclick="OnLeaveGame">Leave Game</button>

    if (currentPlayers.Any())
    {
        <h3>Players</h3>
        <table class="table table-sm">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-sm-4">Player</th>
                    <th scope="col" class="col-sm-8">Hand</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in currentPlayers)
                {
                    <tr class="row">
                        <th scope="row" class="col-sm-4">@player.Name</th>
                        <td class="col-sm-8">
                            <ul class="list-inline" id="hand_@player.UserId"></ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="button" @ref="_dealButton" style="display: none" class="mt-5 btn btn-info">Deal</button>
    }
}
